*.swp
env
__pycache__
.pytest_cache
build
dist
.coverage
.DS_Store
*.sqlite3
tracekit.egg-info
.mypy_cache
tracekit_config.json
.env

# Site build artifacts
site/dist/
site/node_modules/
site/src/index.html
