name: pytest
on: [push]
jobs:
  run-pytest:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: Installs packages
        run: pip3 install .[dev]
      - name: Install tracekit package (editable mode)
        run: pip3 install -e .
      - name: Runs pytest
        run: python -m pytest --cov=tracekit --cov-report=term-missing -v
