name: pytest
on: [push]

permissions:
  contents: read

jobs:
  run-pytest:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.14"
      - name: Installs packages
        run: pip3 install .[dev]
      - name: Install tracekit package (editable mode)
        run: pip3 install -e .
      - name: Runs pytest
        run: python -m pytest --cov=tracekit --cov-report=term-missing -v
